@model CreateBookingDto

@{
    ViewData["Title"] = "CreateBooking";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Rezervasyon Girişi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="bookingName">Adını ve Soyadını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Name" id="bookingName">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="bookingPhone">Telefon Numarasını Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="bookingPhone">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="bookingMail">Mail Adresini Giriniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="bookingMail">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="bookingPersonCount">Kişi Sayısını Giriniz</label>
                                <input type="number" class="form-control" asp-for="PersonCount" id="bookingPersonCount">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="bookingDate">Rezervasyon Tarihini Giriniz</label>
                                <input type="date" class="form-control" asp-for="Date" id="bookingDate">

                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Rezervasyonu Oluştur</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

