@model UpdateSliderDto

@{
    ViewData["Title"] = "UpdateSlider";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Burası Öne Çıkan Alan İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Öne Çıkan Alan Güncelleme</div>
                        </div>
                        <input type="hidden" asp-for="SliderID" />
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderTitle1">1.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title1" id="sliderTitle1">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderTitle2">2.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title2" id="sliderTitle2">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderTitle3">3.Başlığı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Title3" id="sliderTitle3">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderDescription1">1.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description1" id="sliderDescription1">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderDescription2">2.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description2" id="sliderDescription2">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="sliderDescription3">3.Açıklamayı Giriniz</label>
                                <input type="text" class="form-control" asp-for="Description3" id="sliderDescription3">

                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">Öne Çıkan Alanı Güncelle</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

