@model UpdateContactDto

@{
    ViewData["Title"] = "UpdateContact";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Ana Sayfa İletişim Bilgi İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title"> İletişim Yazı Güncelleme</div>
                        </div>
                        <input  type="hidden" asp-for="ContactID"/>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactLocation">Lokasyonu Giriniz</label>
                                <input type="text" class="form-control" asp-for="Location" id="contactLocation">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactPhone">Telefon Numarası Giriniz</label>
                                <input type="text" class="form-control" asp-for="Phone" id="contactPhone">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactMail">Mail Adresi Giriniz</label>
                                <input type="email" class="form-control" asp-for="Mail" id="contactMail">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactDescription">Açıklama Giriniz</label>
                                <textarea rows="6" class="form-control" asp-for="FooterDescription" id="contactDescription"> </textarea>

                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactFooterTitle">Alt Başlık Giriniz</label>
                                <input type="text" class="form-control" asp-for="FooterTitle" id="contactFooterTitle">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenDays">Açık Günler</label>
                                <input type="text" class="form-control" asp-for="OpenDays" id="contactOpenDays">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenHours">Açık Saatler</label>
                                <input type="text" class="form-control" asp-for="OpenHours" id="contactOpenHours">

                            </div>

                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="contactOpenDaysDescription">Açık Günlerin Açıklaması</label>
                                <input type="text" class="form-control" asp-for="OpenDaysDescription" id="contactOpenDaysDescription">

                            </div>

                        </div>
                        <div class="card-action">
                            <button class="btn btn-success">İletişim Bilgi Yazısını Güncelle</button>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

